@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title, .characteristic-name, .characteristic-option {
    font-family: Quicksand, sans-serif;
}

.content {
    padding: 10px 25px;
}

.header {
    overflow: auto;
    background: #0a7ce6;
    padding: 0 25px;
}

.title {
    color: white;
    text-align: left;
}

.test-options-wrapper {
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 25px;
    padding: 15px 0;
    margin-bottom: 15px;
}

.characteristic-wrapper {
    display: inline-flex;
    align-items: center;
}

.characteristic-name, .characteristic-option {
    margin: 0 5px;
}

.characteristic-name {
    font-size: 17px;
    font-weight: bold;
    text-align: left;
}

.characteristic-option {
    font-size: 15px;
    background-color: white;
    border: none;
    border-bottom: 2px solid #bbbbbb;
    padding: 1px 4px;
}

.characteristic-option.active, .characteristic-option:hover {
    border-color: #0a7ce6;
    cursor: pointer;
}

.characteristic-option:hover {
    background-color: #ececec;
    opacity: 0.75;
}

.characteristic-checkbox {
    background-color: #0a7ce6;
    width: 15px;
    height: 15px;
}

.reset-button {
    background-color: #0a7ce6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 25px;
    cursor: pointer;
}

.reset-button:hover {
    background-color: #0550eb;
}

.message {
    text-align: left;
}

.letter-wrapper {
    margin: 0 1px;
}

.letter-wrapper.incorrect {
    color: red;
}

.ciphertext-letter, .plaintext-letter {
    font-size: 17px;
    margin: 0;
    padding: 10px 7px;
}

.ciphertext-letter, .plaintext-letter.non-alphabetic {
    font-family: "Courier New", serif;
    font-weight: bold;
    cursor: default;
    background-color: #ecececf0;
}

.plaintext-letter:not(.non-alphabetic) {
    font-family: monospace;
    border: 1px solid;
}

.plaintext-letter.similar {
    background-color: #e6dc0a60;
}

.plaintext-letter.active {
    background-color: #e6dc0a;
}

.cipher-wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    overflow: auto;
}

.word-wrapper {
    display: flex;
    margin: 0 10px;
}

.frequency-table-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.frequency-table-letter-wrapper {
    border: 1px solid;
    width: fit-content;
    margin-top: 30px;
}

.frequency-table-letter-wrapper.active {
    background-color: #e6dc0a60;
}

.frequency-table-letter-wrapper.incorrect {
    color: red;
}

.frequency-table-letter {
    font-family: "Courier New", serif;
    border: 1px solid;
    margin: 0;
    padding: 2px;
}

.frequency-table-letter.alphabet {
    font-weight: bold;
    background-color: #ecececf0;
    padding: 0 10px
}
