@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title, .characteristic-name, .characteristic-option {
    font-family: Quicksand, sans-serif;
}

.content {
    padding: 10px 25px;
}

.header {
    overflow: auto;
    background: #0a7ce6;
    padding: 0 25px;
}

.title {
    color: white;
    text-align: left;
}

.test-options-wrapper {
    display: flex;
    justify-content: space-around;
}

.characteristic-wrapper {
    display: inline-flex;
    align-items: center;
    height: 50px;
}

.characteristic-name, .characteristic-option {
    margin-right: 5px;
}

.characteristic-name {
    font-size: 17px;
    font-weight: bold;
    text-align: left;
}

.characteristic-option {
    font-size: 15px;
    background-color: white;
    border: none;
    border-bottom: 2px solid #bbbbbb;
    padding: 1px 4px;
}

.characteristic-option.active, .characteristic-option:hover {
    border-color: #0a7ce6;
}

.characteristic-option:hover {
    cursor: pointer;
    background-color: #ececec;
    opacity: 0.75;
}

.characteristic-checkbox {
    background-color: #0a7ce6;
    width: 15px;
    height: 15px;
}

.error {
    text-align: left;
}

.letter-wrapper {
    width: fit-content;
}

.letter-wrapper.incorrect {
    color: red;
}

.ciphertext-letter, .plaintext-letter {
    font-size: 17px;
    margin: 0;
    padding: 10px 7px;
}

.ciphertext-letter {
    font-family: "Courier New", serif;
    font-weight: bold;
}

.plaintext-letter {
    font-family: monospace;
    border: 1px solid;
}

.plaintext-letter.similar {
    background-color: #e6e655a0;
}

.plaintext-letter.active {
    background-color: #e6e655;
}
